*
{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
}
.main
{
    height: 100vh;
    width: 100vw;
    border: 5px solid black;
}
.parentDiv
{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: color-mix(in srgb, #96C2DB, #FFFFFF);

}
.innerPro{
   
    position: relative;
}
.nav
{
    height: 25%;
    width: 100%;
    display: flex;
}
.nav1
{
    height: 100%;
    width: 40%;
    background-color: #121212;
  
}
.nav2
{
    height: 100%;
    width: 60%;
    background-color: #121212;
    color: white;
}
.nav2-options
{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nav2-heading
{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}
.nav2-options button 
{
    height: 50%;
    width: 150px;
    font-size: 25px;
    font-weight: 700;
    background-color: black;
    color: white;
    border: none;
}
.nav2-options  button:hover
{
    background-color: blue;
    cursor: pointer;
}

.last
{
    background-color: green !important;
}

.iterate1
{
    background-color: red !important;
}
.iterate2
{
    background-color: orange !important;
}
.arraySize
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-bottom: 10px;
   
}
.arraySize label
{
    color: white;
    margin-right: 13%;
    font-weight: 700;
    font-weight: 600;
}
.speed
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   
}
.speed label
{
    color: white;
    margin-right: 10%;
    font-weight: 700;
    font-weight: 600;
}

.arraySize  input
{
    
     width: 25%;
     height: 30%;
     font-size: 20px;
     font-weight: 700;
}

.speed input
{
    margin-right: 3%;
    width: 30%;
    margin-left: 2%;
}


.start
{
    height: 25%;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.start #clickHere
{
   height: 70%;
   width: 30%;
   font-size: 20px;
   color: blue;
   font-weight: 700;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.8);
   
}

.start #restart
{
   height: 70%;
   width: 20%;
   font-size: 18px;
   color: red;
   font-weight: 700;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.9);
  margin-right: 30px;
}
.start #restart:hover{
    transform: scale(1.2);
}